<script language="javascript">
      function writeCheck() {
          var form = document.writeform;

          if (!form.name.value)
          {
              alert("이름을 적어주세요");
              form.name.focus();
              return;
          }
          if (!form.subject.value) {
              alert("제목을 적어주세요");
              form.subject.focus();
              return;
          }
          if (!form.memo.value) {
              alert("내용을 적어주세요");
              form.memo.focus();
              return;
          }
          form.submit();
      }
  </script>
<html>
  <head>
  <meta http-equiv="Content-Type" charset=UTF-8">
  <title>게시판 글쓰기</title>
  </head>
  <body>
  <h1>게시글 작성</h1>

<form enctype="multipart/form-data" method="POST" >
  <table width=700 border=1 cellspacing=0 cellpadding=5>
  <tr><td><b>제목</b></td><td><input type=text name=subject size=50  maxlength=50></td></tr>
  <tr><td><b>내용</b></td><td><textarea name=memo cols=50 rows=10></textarea></td></tr>
  <tr><td><b>파일 업로드</b></td><td>
       <form  action="" method="POST">
        {% csrf_token %}
        <input type="file" name="file">
        <!--<input type="submit" value="등록" OnClick="javascript:writeCheck();">-->
        <!--<input type="submit" value="Upload">-->
           <input type="submit" value="등록">
      </form>
    <p>"{{ MEDIA_URL }}{{ file_path }}"</p>
    <p>{{ filename }}</p>

    <br><br>
    <a href="{{ MEDIA_URL }}{{ filepath }}" target="_blank">{{ filename }}</a>
    <br><br>
  <!--</td></tr>-->
  <!--</table>-->
<!--</form>-->

  <!--<table width=700 border=1 cellspacing=0 cellpadding=0>-->
  <!--<tr><td>-->
  <!--<input type="submit" value="등록" OnClick="javascript:writeCheck();">-->
  <!--</td></tr>-->
  <!--</table>-->
  </table>
</form>
  </body>
 </html>