<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
            </tr>
        </thead>

        <tbody>
        {% for post in post_list %}
            <tr>
                <td>{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <li>
        <a href="127.0.0.1:8000/2/">show</a>
    </li>
</body>
</html>